conda.enabled = true

// Use 'params' to provide parameters accessible inside the main script unionloops.nf
params {
    // Required parameters
    /*
    A tsv file with two columns
    ('name' and 'path') of sample names and
    corresponding mcool files.
    */
    input_cooler_paths     = null // str
    outfilename            = null // str, e.g., union_loop_list_10kb.tsv
    conda_env              = null // str, path to an existing conda env
    
    // Optional parameters
    assembly_name          = 'hg38' // str, see bioframe package
    resolution             = 10000 // int, loop resolution
    outdir                 = 'results' // str
    custom_config          = 'custom.config' // required when -profile custom
    /*
    Same parameters from cooltools functions:
    expected_cis(), dots(), and pileup().
    */
    clr_weight_name        = 'weight' // str
    max_loci_separation    = 10000000 // int
    max_nans_tolerated     = 1 // int
    lambda_bin_fdr         = 0.1 // float
    tile_size              = 5000000 // int
    nproc                  = 1 // int
    dots_clustering_radius = 20000 // int
    flank                  = 100000 // int, typically 10*resolution for loop strength
}

profiles {
    // Default profile if -profile is not set
    standard {
        includeConfig 'configs/local.config'
    }

    cluster {
        includeConfig 'configs/cluster.config'
    }

    custom {
        includeConfig "${params.custom_config}"
    }

}

timeline {
    enabled = true
    overwrite = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    overwrite = true
    file = "./pipeline_info/report.html"
}
