process {

    // default LSF node config
    executor = 'lsf'
    // specify the path of a local, already existing Conda environment
    conda = "${params.conda_env}"
    cpus = 8
    memory = 8.GB
    maxRetries = 2
    errorStrategy = 'retry'
    
    withName: generate_enriched_pixels{
        maxForks = 15
        queue = 'short'
        time = '4h'
    }
    
    withName: cluster_enriched_pixels {
        queue = 'long'
        time = '12h'
    }
    
    withName: singleton_filtering {
        cpus = 4
        queue = 'short'
        time = '4h'
    }
    
    withName: calculate_loop_strength {
        maxForks = 15
        cpus = 4
        queue = 'short'
        time = '4h'
    }
    
    withName: combine_loop_strength {
        cpus = 4
        queue = 'short'
        time = '4h'
    }

}