process {

    // Default local executor
    executor = 'local'
    // Path to a pre-created environment
    conda = "${params.conda_env}"
    cpus = 4
    maxRetries = 2
    errorStrategy = 'retry'

    // Process-specific overrides

    withName: generate_enriched_pixels{
        maxForks = 5
        cpus = 4
    }
    
    withName: cluster_enriched_pixels {
        cpus = 4
    }
    
    withName: singleton_filtering {
        cpus = 4
    }
    
    withName: calculate_loop_strength {
        maxForks = 5
        cpus = 4
    }
    
    withName: combine_loop_strength {
        cpus = 1
    }
    
    withName: cluster_external_loops {
        cpus = 4
    }

}

executor {
    cpus = 40  // max total CPUs Nextflow can use locally
}